@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a;
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  margin-left: 0.4em;
  background-image: url("assets/close.png");
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #3333 #61616133;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #1a1a1a;
}

*::-webkit-scrollbar-thumb {
  opacity: 1.5;
  background-color: #a893d6;
  border-radius: 10px;
}
